@model GreenAndGo.Models.QuoteViewModel
@{
    ViewBag.Title = "Quote";
}
<h1>@Model.OriginPostcode to @Model.DestinationPostcode</h1>
@Html.ValidationSummary(true)
@foreach(var quote in @Model.Quotes)
{
    <div>
        <h2>@quote.Carrier</h2>
        <h3>@quote.Service</h3>
        <p>£@quote.Cost</p>
    </div>
    int i = 0; 
    <a href="~/Book/?serviceId=@quote.ServiceId&Sender.Address.Postcode=@Model.OriginPostcode&Recipient.Address.Postcode=@Model.DestinationPostcode&@string.Join("&",@Model.Parcels.Select(p=> string.Format("Parcels[{0}].Weight={1}&Parcels[{0}].Length={2}&Parcels[{0}].Width={3}&Parcels[{0}].Height={4}&Parcels[{0}].Value={5}&Parcels[{0}].Description={6}", i++,p.Weight,p.Length,p.Width, p.Height,p.Value, p.Description)))">Book!</a>
}